Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2022-02, with the labels that each got.

#64 Implement import/export API
  docs/api-samples/v1/README.md
  docs/api-samples/v1/export.md
  docs/api-samples/v1/import.md
  docs/api.md
  export/export.go
  export/export_test.go
  export/mock_export/node.go
  export/mock_export/pod.go
  export/mock_export/priorityClass.go
  export/mock_export/pv.go
  export/mock_export/pvc.go
  export/mock_export/scheduler.go
  export/mock_export/storageClassc.go
  go.mod
  server/di/di.go
  server/di/interface.go
  server/handler/export.go
  server/server.go
  util/errGroupWithSemaphore.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, kind/api-change, size/XXL

#88 fix(frontend): react on nuxt telemetry user input during `yarn start`
  web/Dockerfile
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#90 Run NormalizeScore correctly
  scheduler/plugin/plugins.go
  scheduler/plugin/plugins_test.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, size/S, lgtm, cncf-cla: yes, approved, priority/critical-urgent

#93 Fix missing links on doc
  docs/api-samples/v1/README.md
  docs/api.md
Labels: tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, kind/documentation

#94 add configuration to change the URL of kube-apiserver
  config/config.go
  k8sapiserver/k8sapiserver.go
  simulator.go
Labels: kind/feature, tide/merge-method-squash, size/M, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved

#104 Disable the delete button when the selected `priorityclass` is the system one
  web/components/ResourceBar/ResourceBar.vue
  web/store/node.ts
  web/store/pod.ts
  web/store/priorityclass.ts
  web/store/pv.ts
  web/store/pvc.ts
  web/store/schedulerconfiguration.ts
  web/store/storageclass.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved

#102 Add `EXTERNAL_IMPORT_ENABLED` environment variables
  config/config.go
  server/di/di.go
  simulator.go
Labels: kind/feature, tide/merge-method-squash, size/M, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved

#103 Support to `WithIgnoreErr` option in the `ExportService`
  export/export.go
  export/export_test.go
  server/di/interface.go
  server/handler/export.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved

#107 Fix race condition in store result map
  scheduler/plugin/resultstore/store.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved

#105 Add reset service
  docs/api.md
  reset/reset.go
  server/di/di.go
  server/di/interface.go
  server/handler/reset.go
  server/handler/schedulerconfig.go
  server/server.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/L, kind/api-change

#108 Add filtering logic for a `PriorityClass` that the name is prefixed with `system-`
  export/export.go
  export/export_test.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#112 Remove `IgnoreErr` options from the `Import/Export` function called via web API
  export/export_test.go
  server/handler/export.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#117 Import `PriorityClassList` component on `index.vue` explicitly
  web/pages/index.vue
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#118 Remove line feeds at the end of files
  web/components/lib/templates/priorityclass.yaml
  web/package.json
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#111 Import from existing cluster
  config/config.go
  export/export.go
  export/export_test.go
  export/utils.go
  export/utils_test.go
  replicateexistingcluster/mock_replicateexistingcluster/export.go
  replicateexistingcluster/replicateexistingcluster.go
  replicateexistingcluster/replicateexistingcluster_test.go
  server/di/di.go
  server/di/interface.go
  simulator.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved

#114 support reset feature on web ui
  pod/pod.go
  scheduler/plugin/plugins.go
  scheduler/scheduler.go
  web/api/v1/reset.ts
  web/components/StoreKey/ResetStoreKey.ts
  web/components/StoreProvider/ResetProvider.vue
  web/components/TopBar/ResetButton.vue
  web/components/TopBar/TopBar.vue
  web/package-lock.json
  web/pages/index.vue
  web/store/reset.ts
  web/store/snackbar.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/XXL
