Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2022-03, with the labels that each got.

#126 Rename simulatorPlugin to wrappedPlugin
  scheduler/plugin/plugins.go
  scheduler/plugin/plugins_test.go
  scheduler/scheduler_test.go
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#119 Implement table view on Web UI
  web/components/ResourceViews/DataTables/DataTable.vue
  web/components/ResourceViews/DataTables/NodeDataTable.vue
  web/components/ResourceViews/DataTables/PVCDataTable.vue
  web/components/ResourceViews/DataTables/PVDataTable.vue
  web/components/ResourceViews/DataTables/PodDataTable.vue
  web/components/ResourceViews/DataTables/PriorityClassDataTable.vue
  web/components/ResourceViews/DataTables/ResourcesDataTable.vue
  web/components/ResourceViews/DataTables/StorageClassDataTable.vue
  web/components/ResourceViews/Lists/NodeList.vue
  web/components/ResourceViews/Lists/PVCList.vue
  web/components/ResourceViews/Lists/PVList.vue
  web/components/ResourceViews/Lists/PodList.vue
  web/components/ResourceViews/Lists/PriorityClassList.vue
  web/components/ResourceViews/Lists/ResourcesList.vue
  web/components/ResourceViews/Lists/StorageClassList.vue
  web/components/ResourceViews/Lists/UnscheduledPodList.vue
  web/components/ResourceViews/ResourcesViewPanel.vue
  web/nuxt.config.js
  web/pages/index.vue
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved

#129 Display the kind/apiVersion in the scheduler configuration yaml
  README.md
  docs/images/schedulerconfiguration.jpg
  docs/images/schedulerconfiguration.png
  scheduler/defaultconfig/defaultconfig.go
  scheduler/scheduler.go
  scheduler/scheduler_test.go
  server/handler/schedulerconfig.go
  web/.prettierignore
  web/.stylelintignore
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved

#115 Request kube apiserver directly from frontend
  config/config.go
  docker-compose.yml
  k8sapiserver/k8sapiserver.go
  simulator.go
  web/api/v1/index.ts
  web/api/v1/node.ts
  web/api/v1/pod.ts
  web/api/v1/priorityclass.ts
  web/api/v1/pv.ts
  web/api/v1/pvc.ts
  web/api/v1/schedulerconfiguration.ts
  web/api/v1/storageclass.ts
  web/components/ResourceBar/ResourceBar.vue
  web/components/ResourceViews/DataTables/NodeDataTable.vue
  web/components/ResourceViews/DataTables/PVCDataTable.vue
  web/components/ResourceViews/DataTables/PVDataTable.vue
  web/components/ResourceViews/DataTables/PodDataTable.vue
  web/components/ResourceViews/DataTables/PriorityClassDataTable.vue
  web/components/ResourceViews/DataTables/StorageClassDataTable.vue
  web/components/ResourceViews/Lists/NodeList.vue
  web/components/ResourceViews/Lists/PVCList.vue
  web/components/ResourceViews/Lists/PVList.vue
  web/components/ResourceViews/Lists/PodList.vue
  web/components/ResourceViews/Lists/PriorityClassList.vue
  web/components/ResourceViews/Lists/StorageClassList.vue
  web/components/ResourceViews/Lists/UnscheduledPodList.vue
  web/nuxt.config.js
  web/store/node.ts
  web/store/pod.ts
  web/store/priorityclass.ts
  web/store/pv.ts
  web/store/pvc.ts
  web/store/schedulerconfiguration.ts
  web/store/storageclass.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved
