Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2022-09, with the labels that each got.

#225 fix(PULL_REQUEST_TEMPLATE): Add area tags
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation

#226 update(simulator): golang v1.19
  simulator/Dockerfile
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved, area/simulator

#227 feature(simulator): support an external scheduler
  simulator/config/config.go
  simulator/export/export.go
  simulator/export/export_test.go
  simulator/export/mock_export/scheduler.go
  simulator/reset/reset.go
  simulator/scheduler/scheduler.go
  simulator/server/di/di.go
  simulator/server/di/interface.go
  simulator/server/handler/schedulerconfig.go
  simulator/simulator.go
  web/components/StoreKey/SchedulerConfigurationStoreKey.ts
  web/components/TopBar/SchedulerConfigurationEditButton.vue
  web/store/schedulerconfiguration.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/L, area/web, area/simulator

#211 Implement to update all resources periodically on Frontend
  web/.eslintrc.js
  web/api/APIProvider.vue
  web/api/APIProviderKeys.ts
  web/api/v1/watcher.ts
  web/components/ResourceViews/DataTables/NodeDataTable.vue
  web/components/ResourceViews/DataTables/PVCDataTable.vue
  web/components/ResourceViews/DataTables/PVDataTable.vue
  web/components/ResourceViews/DataTables/PodDataTable.vue
  web/components/ResourceViews/DataTables/PriorityClassDataTable.vue
  web/components/ResourceViews/DataTables/StorageClassDataTable.vue
  web/components/ResourceViews/Lists/NodeList.vue
  web/components/ResourceViews/Lists/PVCList.vue
  web/components/ResourceViews/Lists/PVList.vue
  web/components/ResourceViews/Lists/PodList.vue
  web/components/ResourceViews/Lists/PriorityClassList.vue
  web/components/ResourceViews/Lists/StorageClassList.vue
  web/components/ResourceViews/Lists/UnscheduledPodList.vue
  web/components/ResourceWatcher.vue
  web/components/TopBar/ImportButton.vue
  web/components/TopBar/ResetButton.vue
  web/pages/index.vue
  web/store/helpers/storeHelper.ts
  web/store/node.ts
  web/store/pod.ts
  web/store/priorityclass.ts
  web/store/pv.ts
  web/store/pvc.ts
  web/store/storageclass.ts
  web/types/api/v1.ts
  web/types/resources.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/XXL, area/web

#138 Improve documentation about environment variables being used
  .gitignore
  README.md
  simulator/docs/env-variables.md
Labels: tide/merge-method-squash, size/M, sig/scheduling, lgtm, cncf-cla: yes, approved, kind/documentation

#194 Changed the design to allow Scenario to be used with more kind of controllers
  keps/140-scenario-based-simulation/README.md
  keps/140-scenario-based-simulation/images/step-two-simulated-controllers.png
  keps/140-scenario-based-simulation/images/step.png
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XL, cncf-cla: yes, approved, kind/documentation
