Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2022-12, with the labels that each got.

#254 Update WatchEvent URL.
  simulator/docs/api.md
Labels: sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator

#255 Add prettier directory for web.
  web/package.json
Labels: kind/bug, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/web

#256 Format web code.
  web/components/ResourceWatcher.vue
  web/tsconfig.eslint.json
Labels: sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved, area/web

#229 feature(reset): refactor the reset service to reset the cluster state completely
  simulator/k8sapiserver/k8sapiserver.go
  simulator/node/mock_node/node.go
  simulator/node/node.go
  simulator/node/node_test.go
  simulator/persistentvolume/persistentvolume.go
  simulator/persistentvolumeclaim/persistentvolumeclaim.go
  simulator/pod/pod.go
  simulator/pod/pod_test.go
  simulator/priorityclass/priorityclass.go
  simulator/reset/reset.go
  simulator/scheduler/scheduler.go
  simulator/server/di/di.go
  simulator/server/di/interface.go
  simulator/simulator.go
  simulator/storageclass/storageclass.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XL, cncf-cla: yes, approved, area/simulator
