Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2022-10, with the labels that each got.

#237 fix(doc): fix the references in how-to-use-custom-plugins
  simulator/docs/how-to-use-custom-plugins/README.md
Labels: tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#239 Fix custom plugin example of nodenumber
  simulator/docs/how-to-use-custom-plugins/nodenumber/plugin.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/simulator

#241 fix a typo
  simulator/docs/env-variables.md
  simulator/pod/pod.go
Labels: tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator

#244 Fix several typos in readme
  README.md
Labels: sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation
