Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2023-03, with the labels that each got.

#263 Redescribe documents about environment variables on the frontend to README under the web directory
  README.md
  simulator/docs/environment-variables.md
  web/README.md
  web/docs/environment-variables.md
Labels: tide/merge-method-squash, size/M, sig/scheduling, kind/cleanup, lgtm, cncf-cla: yes, approved, kind/documentation, area/web

#272 Fix crash due to concurrent Pod mutation
  simulator/scheduler/plugin/resultstore/store.go
  simulator/scheduler/plugin/resultstore/store_test.go
Labels: sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved, priority/next-release

#240 Fixes around the tables of Pod the scheduling results
  web/components/ResourceBar/ResourceBar.vue
  web/components/ResourceBar/SchedulingResults.vue
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/L, area/web

#212 Support Extenders on the simulator
  simulator/scheduler/extender/annotation/annotation.go
  simulator/scheduler/extender/extender.go
  simulator/scheduler/extender/extender_test.go
  simulator/scheduler/extender/mock_extender/extender.go
  simulator/scheduler/extender/mock_extender/resultstore.go
  simulator/scheduler/extender/resultstore/resultstore.go
  simulator/scheduler/extender/resultstore/resultstore_test.go
  simulator/scheduler/extender/service.go
  simulator/scheduler/extender/service_test.go
  simulator/scheduler/plugin/plugins.go
  simulator/scheduler/plugin/resultstore/store.go
  simulator/scheduler/plugin/resultstore/store_test.go
  simulator/scheduler/plugin/wrappedplugin_test.go
  simulator/scheduler/scheduler.go
  simulator/scheduler/scheduler_test.go
  simulator/scheduler/storereflector/mock_storereflector/resultstore.go
  simulator/scheduler/storereflector/storereflector.go
  simulator/scheduler/storereflector/storereflector_test.go
  simulator/server/di/di.go
  simulator/server/di/interface.go
  simulator/server/handler/extender.go
  simulator/server/server.go
  simulator/simulator.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/XXL, priority/next-release

#236 Support Namespace resource
  simulator/export/export.go
  simulator/export/export_test.go
  simulator/export/utils.go
  simulator/export/utils_test.go
  simulator/resourcewatcher/resourcewatcher.go
  simulator/server/handler/export.go
  simulator/server/handler/watcher.go
  web/api/APIProvider.vue
  web/api/APIProviderKeys.ts
  web/api/v1/export.ts
  web/api/v1/index.ts
  web/api/v1/namespace.ts
  web/api/v1/pod.ts
  web/api/v1/pvc.ts
  web/api/v1/watcher.ts
  web/components/ResourceAddButton.vue
  web/components/ResourceBar/ResourceBar.vue
  web/components/ResourceViews/DataTables/NamespaceDataTable.vue
  web/components/ResourceViews/DataTables/ResourcesDataTable.vue
  web/components/ResourceViews/Lists/NamespaceList.vue
  web/components/ResourceViews/Lists/ResourcesList.vue
  web/components/ResourceWatcher.vue
  web/components/StoreKey/NamespaceStoreKey.ts
  web/components/StoreProvider/NamespaceStoreProvider.vue
  web/components/lib/template.ts
  web/components/lib/templates/namespace.yaml
  web/components/lib/templates/pvc.yaml
  web/nuxt.config.js
  web/pages/index.vue
  web/store/namespace.ts
  web/store/node.ts
  web/store/pod.ts
  web/store/priorityclass.ts
  web/store/pv.ts
  web/store/pvc.ts
  web/store/schedulerconfiguration.ts
  web/store/storageclass.ts
  web/types/api/v1.ts
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/XXL, area/web, area/simulator

#275 Upgrade kubernetes v1.26.2
  simulator/go.mod
  simulator/go.sum
  simulator/scheduler/extender/extender.go
  simulator/scheduler/scheduler.go
  simulator/scheduler/storereflector/storereflector.go
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XL, cncf-cla: yes, approved, area/simulator

#277 Replace k8s.gcr.io with registry.k8s.io
  web/components/lib/templates/pod.yaml
Labels: sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved

#278 storeAllResultToPodFunc: Retry on version conflict
  simulator/scheduler/storereflector/storereflector.go
Labels: tide/merge-method-squash, size/M, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved

#249 Create the component config for simulator.(#245)
  README.md
  simulator/config.yaml
  simulator/config/config.go
  simulator/config/v1alpha1/defaults.go
  simulator/config/v1alpha1/doc.go
  simulator/config/v1alpha1/register.go
  simulator/config/v1alpha1/types.go
  simulator/config/v1alpha1/zz_generated.conversion.go
  simulator/config/v1alpha1/zz_generated.deepcopy.go
  simulator/config/v1alpha1/zz_generated.defaults.go
  simulator/docs/environment-variables.md
  simulator/docs/simulator-server-config.md
  simulator/hack/boilerplate/boilerplate.go.txt
  simulator/hack/etcd.sh
  simulator/hack/lib/generator-help.sh
  simulator/hack/lib/init.sh
  simulator/hack/tools.go
  simulator/hack/update-generated-conversions.sh
  simulator/hack/update-generated-deep-copies.sh
  simulator/hack/update-generated-defaulters.sh
Labels: kind/feature, sig/scheduling, kind/cleanup, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved, area/simulator

#242 Fix a bug that finalscore in pod anno does not comply with weight in sche-config
  simulator/scheduler/plugin/plugins.go
  simulator/scheduler/scheduler.go
Labels: kind/bug, tide/merge-method-squash, size/M, sig/scheduling, priority/important-soon, lgtm, ok-to-test, triage/accepted, cncf-cla: yes, approved, area/simulator, priority/next-release
