Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2023-07, with the labels that each got.

#310 update the image tag to v0.1.1
  docker-compose.yml
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, size/XS, cncf-cla: yes, approved, area/simulator

#313 Replace api/v1/namespaces//pods with api/v1/pods
  web/api/v1/pod.ts
  web/api/v1/pvc.ts
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/web

#306 chore: pkg imported more than once
  simulator/scheduler/storereflector/storereflector.go
  simulator/scheduler/storereflector/storereflector_test.go
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved

#314 Use correct log function in NodeNumber
  simulator/docs/sample/nodenumber/plugin.go
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved
