Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-12, with the labels that each got.

#398 Add Scenario CRD diagram
  keps/140-scenario-based-simulation/README.md
  keps/140-scenario-based-simulation/images/crd-diagram.png
Labels: tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, kind/documentation, area/scenario

#399 Fix links and outdated function/constant names in Scenario KEP
  keps/140-scenario-based-simulation/README.md
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, kind/documentation, area/scenario

#376 filter import resources use labelSelector
  simulator/cmd/simulator/simulator.go
  simulator/config/config.go
  simulator/config/v1alpha1/types.go
  simulator/docs/import-cluster-resources.md
  simulator/oneshotimporter/importer.go
  simulator/oneshotimporter/importer_test.go
  simulator/oneshotimporter/mock_clusterresourceimporter/replicate.go
  simulator/server/di/interface.go
  simulator/server/handler/snapshot.go
  simulator/snapshot/snapshot.go
  simulator/snapshot/snapshot_test.go
Labels: tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/L
