Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-10, with the labels that each got.

#377 Fix Default Config Loading When ConfigFile Is Not Specified
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/simulator

#378 Remove alculquicondor and Huang-Wei from OWNERS
  OWNERS
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation

#379 Follow Docker Compose convention and practice
  Makefile
  RELEASE.md
  compose.local.yml
  compose.yml
  simulator/.dockerignore
  simulator/docs/environment-variables.md
  simulator/docs/how-it-works.md
  simulator/docs/running-simulator.md
  web/docs/environment-variables.md
Labels: tide/merge-method-squash, size/M, sig/scheduling, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved

#380 Fix 404 errors in API reference
  simulator/docs/api.md
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator
