Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-11, with the labels that each got.

#382 cleanup externalSchedulerEnable
  simulator/cmd/simulator/simulator.go
  simulator/config.yaml
  simulator/config/config.go
  simulator/docs/custom-plugin.md
  simulator/docs/debuggable-scheduler.md
  simulator/docs/external-scheduler.md
  simulator/docs/integrate-your-scheduler.md
  simulator/docs/simulator-server-config.md
  simulator/scheduler/scheduler.go
  simulator/server/di/di.go
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, size/L, area/simulator

#385 feat: add debuggable-scheduler at cloudbuild
  cloudbuild.yaml
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, size/S, lgtm, cncf-cla: yes, approved, area/simulator

#387 fix: change the annotation from `scheduler-simulator/*` to `kube-scheduler-simulator.sigs.k8s.io/*`
  README.md
  simulator/docs/debuggable-scheduler.md
  simulator/docs/extender.md
  simulator/docs/plugin-extender.md
  simulator/scheduler/extender/annotation/annotation.go
  simulator/scheduler/plugin/annotation/annotation.go
  simulator/scheduler/storereflector/annotation.go
  simulator/scheduler/storereflector/storereflector_test.go
  web/components/ResourceBar/SchedulingResults.vue
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/L, area/web, area/simulator

#388 fix: update the docker composer file to load v0.4.0
  compose.local.yml
  compose.yml
Labels: kind/feature, tide/merge-method-squash, size/M, sig/scheduling, lgtm, cncf-cla: yes, approved, area/web, area/simulator

#389 fix: invalid empty services fields in compose.local.yml
  compose.local.yml
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, needs-ok-to-test, size/XS, cncf-cla: yes, approved

#391 feat: allow user to configure extenders via web UI
  simulator/server/handler/schedulerconfig.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/simulator

#392 fix: update Docker files to avoid warnings
  compose.local.yml
  simulator/docs/sample/plugin-extender/docker-compose.yaml
  web/Dockerfile
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, area/simulator

#393 feat: support the wasm extension in the debuggable scheduler
  simulator/go.mod
  simulator/go.sum
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
  simulator/scheduler/config/wasm.go
  simulator/scheduler/config/wasm_test.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/L, area/simulator

#397 fix(simulator): register the out-of-tree plugins before initializing configurations
  simulator/pkg/debuggablescheduler/command.go
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, size/S, lgtm, ok-to-test, cncf-cla: yes, approved, area/simulator
