Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-08, with the labels that each got.

#362 Fix to load kubeconfig specified by simulator server configuration
  simulator/config/config.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/simulator

#361 Kubernetes 1.30
  docker-compose-local.yml
  docker-compose.yml
  simulator/docs/sample/nodenumber/plugin.go
  simulator/go.mod
  simulator/go.sum
  simulator/scheduler/plugin/mock/framework.go
  simulator/scheduler/plugin/mock/wrappedplugin.go
  simulator/scheduler/plugin/plugins_test.go
  simulator/scheduler/plugin/wrappedplugin.go
  simulator/scheduler/plugin/wrappedplugin_test.go
  simulator/scheduler/scheduler_test.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, cncf-cla: yes, approved, size/L

#366 Optimize Dockerfiles to reduce the time needed to build
  simulator/cmd/scheduler/Dockerfile
  simulator/cmd/simulator/Dockerfile
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, cncf-cla: yes, approved

#365 Rename `ImportClusterResourceService` to `OneshotClusterResourceImporter`
  simulator/cmd/simulator/simulator.go
  simulator/oneshotimporter/importer.go
  simulator/oneshotimporter/importer_test.go
  simulator/oneshotimporter/mock_clusterresourceimporter/replicate.go
  simulator/server/di/di.go
  simulator/server/di/interface.go
Labels: tide/merge-method-squash, size/M, sig/scheduling, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, area/simulator

#349 Update the doc for CORS_ALLOWED_ORIGIN_LIST
  simulator/config/config.go
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator

#364 Add fake-source-cluster for testing the sync service
  docker-compose-local.yml
  docker-compose.yml
  simulator/cmd/simulator/Dockerfile
  simulator/config.yaml
  simulator/docs/running-simulator.md
  simulator/docs/simulator-server-config.md
  simulator/kubeconfig.yaml
Labels: kind/feature, tide/merge-method-squash, size/M, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, area/simulator

#368 Use buildx in Cloud Build to use the build cache
  cloudbuild.yaml
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved

#367 Implement syncer
  simulator/cmd/simulator/simulator.go
  simulator/config.yaml
  simulator/config/config.go
  simulator/config/v1alpha1/types.go
  simulator/docs/import-cluster-resources.md
  simulator/docs/simulator-server-config.md
  simulator/server/di/di.go
  simulator/server/di/interface.go
  simulator/syncer/resource.go
  simulator/syncer/syncer.go
  simulator/syncer/syncer_test.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/XXL, area/simulator
