Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-05, with the labels that each got.

#351 : handle the case when the config option is not specified
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved, area/simulator

#350 create a separated debuggable scheduler container
  Makefile
  cloudbuild.yaml
  docker-compose-local.yml
  simulator/Makefile
  simulator/cmd/scheduler/Dockerfile
  simulator/cmd/scheduler/scheduler.go
  simulator/cmd/simulator/Dockerfile
  simulator/docs/running-simulator.md
  simulator/go.mod
  simulator/go.sum
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, size/L

#356 Support arm64
  Makefile
  scenario/Dockerfile
  simulator/cmd/scheduler/Dockerfile
  simulator/cmd/simulator/Dockerfile
Labels: kind/feature, tide/merge-method-squash, size/M, sig/scheduling, lgtm, ok-to-test, cncf-cla: yes, approved, area/web, area/simulator, area/scenario
