Repository kubernetes-sigs/kube-scheduler-simulator, pull requests merged in 2024-03, with the labels that each got.

#333 migrate the internal kube-apiserver to kwok
  README.md
  docker-compose-local.yml
  docker-compose.yml
  kwok.yaml
  simulator/config.yaml
  simulator/config/config.go
  simulator/config/v1alpha1/types.go
  simulator/config/v1alpha1/zz_generated.conversion.go
  simulator/config/v1alpha1/zz_generated.deepcopy.go
  simulator/config/v1alpha1/zz_generated.defaults.go
  simulator/controller/controller.go
  simulator/controller/deployment_controller.go
  simulator/controller/pvcontroller.go
  simulator/controller/replicaset_controller.go
  simulator/docs/environment-variables.md
  simulator/docs/how-it-works.md
  simulator/docs/kube-apiserver.md
  simulator/docs/simulator-server-config.md
  simulator/go.mod
  simulator/go.sum
  simulator/k8sapiserver/k8sapiserver.go
  simulator/reset/reset.go
  simulator/simulator.go
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, cncf-cla: yes, approved, size/XXL, area/simulator

#338 Bump Kubernetes v1.29.3
  simulator/docs/sample/nodenumber/plugin.go
  simulator/go.mod
  simulator/go.sum
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
  simulator/pkg/externalscheduler/external_scheduler.go
  simulator/resourcewatcher/eventproxy.go
  simulator/resourcewatcher/resourcewatcher.go
  simulator/scheduler/extender/resultstore/resultstore.go
  simulator/scheduler/plugin/plugins.go
  simulator/scheduler/scheduler_test.go
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, size/XL, cncf-cla: yes, approved

#339 Bump Go 1.22
  simulator/Dockerfile
  simulator/go.mod
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, ok-to-test, size/XS, cncf-cla: yes, approved

#332 fix: reduce the places where users have to register for using custom plugins
  simulator/docs/custom-plugin.md
  simulator/scheduler/config/plugin.go
Labels: kind/bug, tide/merge-method-squash, sig/scheduling, size/S, lgtm, cncf-cla: yes, approved, area/simulator, priority/next-release

#328 Modify the path on the document
  simulator/docs/import-cluster-resources.md
Labels: tide/merge-method-squash, sig/scheduling, kind/cleanup, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator

#343 update docker-compose.yml with v0.2.0
  README.md
  RELEASE.md
  docker-compose.yml
Labels: kind/feature, tide/merge-method-squash, sig/scheduling, size/S, lgtm, cncf-cla: yes, approved, kind/documentation, area/simulator

#345 Not trying to load a default kubeconfig when a kubeconfig is passed
  simulator/pkg/debuggablescheduler/debuggable_scheduler.go
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, cncf-cla: yes, approved, area/simulator

#346 Use docker compose instead of docker-compose
  Makefile
  simulator/docs/running-simulator.md
Labels: tide/merge-method-squash, sig/scheduling, size/S, kind/cleanup, lgtm, cncf-cla: yes, approved, area/simulator

#342 clarify the import is required
  simulator/docs/custom-plugin.md
Labels: tide/merge-method-squash, sig/scheduling, lgtm, size/XS, cncf-cla: yes, approved, kind/documentation, area/simulator
